play.dtd

<!ELEMENT play (author, title, act*)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT act (title, scene*)>
<!ELEMENT scene (title, (speech | stagedir)*)>
<!ELEMENT speech (speaker, (line | stagedir)*)>
<!ELEMENT speaker (#PCDATA)>
<!ELEMENT stagedir (#PCDATA)>
<!ELEMENT line (#PCDATA | stagedir)*>
